/* CSS */

body {
    background-color: slate;
}

/* Hero Stats */
.container-stats {
    background-color: rgb(127, 224, 127);
    position: fixed;
    height: 75%;
    width: 30%;
    top: 10vh;
    left: 5vh;
}
/* All Stat Bars */
.stats {
    display: inline-flex;
    position: fixed;
    border: 2px solid black;
    height: 30px;
    width: 60vh; 
    margin-top: 15px;
    margin-left: 20px;
}

    /* Strength , Empty Frame */
    .str {
        top: 10vh;
        left: 5vh;
    }
        /* Fill Strength Bar */
        #strBar {
        top: 10vh;
        left: 5vh;
        }

    /* Vitality , Empty Frame */
    .vit {
        top: 25vh;
        left: 5vh;
    }
        /* Fill Vitality Stat Bar */
        #vitBar {
        top: 25vh;
        left: 5vh;
        }

    /* Agility , Empty Frame */ 
    .agi {
        top: 40vh;
        left: 5vh;
    }
        /* Fill Agility Stat Bar */
        #agiBar {
        top: 40vh;
        left: 5vh;
        }

    /* Intelligence , Empty Frame */
    .int {
        top: 55vh;
        left: 5vh;
    }
        /* Fill Intelligence Stat Bar */
        #intBar {
        top: 55vh;
        left: 5vh;
        }

    /* Luck , Empty Frame */
    .luck {
        top: 70vh;
        left: 5vh;
    }
        /* Fill Luck Stat Bar */
        #luckBar {
        top: 70vh;
        left: 5vh;
        }

/* Build A Hero */
.container-hero {
    background-color: rgb(218, 141, 141);
    display:flexbox;
    position: fixed;
    height: 75%;
    width: 30%;
    top: 10vh;
    right: 85vh;
}
    .heroHead {
        padding: 10px;
    }
    .heroBody {
        padding: 10px;
    }
    .heroLegs {
        padding: 10px;
    }
    .weapon {
        padding: 10px;
    }

/* Hero Classes */
.container-classes {
    background-color: lightblue;
    display:flexbox;
    position: fixed;
    height: 50%;
    width: 25%;
    top: 30vh;
    right: 5vh;
    padding: 10px;
}

    .assassin {
        padding: 20px 0 20px 0;
    }
    .knight {
        padding: 20px 0 20px 0;
    }
    .ninja {
        padding: 20px 0 20px 0;
    }
    .samurai {
        padding: 20px 0 20px 0;
    }
