/* CSS */

body {
    background-size: cover !important;
    alt: "";
    background-position: fixed center;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

/* load custom font */
@font-face {
    font-family: Overbyte;
    src: url(/assets/fonts/overbyte.otf);
}

.projectContainer {
    max-width: 100%;
    min-width: 100%;
}

/* Hero Stats Container */
.statsContainer {
    background: none;
    display: inline-block;
    position: absolute;
    height: 75%;
    width: 37%;
    top: 10vh;
    left: 4vh;
    margin: 0;
    border-radius: 35px;
}

/* All Stat Bars , Grouped by Class Name */
.stats {
    background-color:rgb(255, 255, 255);
    display: inline-block;
    position: fixed;
    height: 55px;
    width: 30%;
    font-family: Overbyte , mono;
    font-size: 28px;
    color: rgb(20, 35, 70);
    text-align: end;
    text-shadow: 1px 0px #000000;
    letter-spacing: initial;
    border: 1px solid rgb(210, 225, 230);
    border-radius: 25px;
    margin-top: 2%;
    margin-left: 3%;
    padding: 5px 5px;
    cursor: pointer;
    z-index: 2;

    /* stat bar glow */
    box-shadow:
    0 0 12px 5px #fff,  /* inner */
    0 0 15px 5px #f0f, /* middle */
    0 0 15px 5px #0ff; /* outer */

    /* prevent user select */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    user-select: none;
}

    .stats::before {
    background:none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 60px;
    transition: .3s;
    content: "";
    z-index: -2;
    }

    .stats:hover::before {
    box-shadow: 0 0 20px #ffee10;
    content: "";
    }

/* Strength Bar , Empty Frame */
.str {
    top: 5vh;
    left: 3vh;
}
    /* Fill Strength Bar */
    #strBar {
        display: inline;
        position: fixed;
        height: 55px;
        width: 30%;
        top: 5vh;
        left: 3vh;
        margin-top: 2%;
        margin-left: 3%;
        padding: 5px 5px;
        border: 2px solid rgb(200, 240, 255, 0.6);
        border-radius: 25px;
        z-index: -1;
    }

/* Vitality Bar , Empty Frame */
.vit {
    top: 20vh;
    left: 3vh;
}
    /* Fill Vitality Bar */
    #vitBar {
        display: inline;
        position: fixed;
        height: 55px;
        width: 30%;
        top: 20vh;
        left: 3vh;
        margin-top: 2%;
        margin-left: 3%;
        padding: 5px 5px;
        border: 2px solid rgb(200, 240, 255, 0.6);
        border-radius: 25px;
        z-index: -1;
    }

/* Agility Bar , Empty Frame */ 
.agi {
    top: 35vh;
    left: 3vh;
}
    /* Fill Agility Bar */
    #agiBar {
        display: inline;
        position: fixed;
        height: 55px;
        width: 30%;
        top: 35vh;
        left: 3vh;
        margin-top: 2%;
        margin-left: 3%;
        padding: 5px 5px;
        border: 2px solid rgb(200, 240, 255, 0.6);
        border-radius: 25px;
        z-index: -1;
    }

/* Intelligence Bar , Empty Frame */
.int {
    top: 50vh;
    left: 3vh;
}
    /* Fill Intelligence Bar */
    #intBar {
        display: inline;
        position: fixed;
        height: 55px;
        width: 30%;
        top: 50vh;
        left: 3vh;
        margin-top: 2%;
        margin-left: 3%;
        padding: 5px 5px;
        border: 2px solid rgb(200, 240, 255, 0.6);
        border-radius: 25px;
        z-index: -1;
    }

/* Luck Bar , Empty Frame */
.luck {
    top: 65vh;
    left: 3vh;
}
    /* Fill Luck Bar */
    #lukBar {
        display: inline;
        position: fixed;
        height: 55px;
        width: 30%;
        top: 65vh;
        left: 3vh;
        margin-top: 2%;
        margin-left: 3%;
        padding: 5px 5px;
        border: 2px solid rgb(200, 240, 255, 0.6);
        border-radius: 25px;
        z-index: -1;
    }

/* Build A Hero Container */

.heroContainer {
    display: inline-block; /* change the default display type to inline-block */
    overflow: hidden;      /* hide the overflow */
}

  /* Heros */

    /* Ninja */
    #ninja {
        display: none;
        position: fixed;
        top: 0vh;
        left: 58vh;
        transform: scale(0.89);
        -moz-transform: scale(0.89);
        -ms-transform: scale(0.89);
        -webkit-transform: scale(0.89);
        z-index: -4;
    }

    /* Samurai */
    #samurai {
        display: none;
        position: fixed;
        top: 10vh;
        left: 58vh;
        transform: scale(0.6);
        -moz-transform:scale(0.6);
        -ms-transform: scale(0.6);
        -webkit-transform: scale(0.6);
        z-index: -4;
        padding: -10vh 10vh;
    }

    #gladiatorHead {
        display: none;
        position: fixed;
        top: -35%;
        left: 60vh;
        transform: scale(0.2);
        -moz-transform:scale(0.2);
        -ms-transform: scale(0.2);
        -webkit-transform: scale(0.2);
        z-index: -4;
    }

/* Hero Class Selection Buttons Container */

.jobContainer {
    background: none;
    display: inline-block;
    position: absolute;
    z-index: 4;
}

/* BUTTONS */

/* Hero Class Buttons */
    .heroBtn {
        position: fixed;
        display: inline-block;
        background: none;
        left: 64%;
        border: none;
        border-radius: 60px;
        font-size: 36px;
        font-family: Overbyte;
        color: rgb(20, 35, 70);
        text-shadow: 1px 1px white;
        margin: auto;
        cursor: pointer;
        z-index: 2;
    }

    .heroBtn::before {
    background: #ffee10;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 60px;
    transition: .5s;
    transform: scale(.8);
    content: "";
    z-index: -2;
    }

    .heroBtn:hover::before {
    transform: scale(1.0);
    box-shadow: 0 0 15px #ffee10;
    content: "";
    }

    /* Gladiator */
    #gladiatorBtn {
        top: 15%;
        padding: 1em 3.8em;
    }

    /* Ninja */
    #ninjaBtn {
        top: 40%;
        padding: 1em 5em;
    }

    /* Samurai */
    #samuraiBtn {
        top: 65%;
        padding: 1em 4.2em;
    }

/* Stat Buttons */
    .upButton {
        display:inline-block;
        padding: 18px 18px;
        box-shadow: inset 4px 0px #ffffff;
        background: linear-gradient(rgb(255, 255, 255), rgb(104, 189, 194));
        border: 1px solid #3d94f6;
        border-radius: 25px;
        margin: 0px 40px 0px 40px;
        opacity: 95%;
        cursor: pointer;
    }

    .downButton {
        display:inline-block;
        padding: 18px 18px;
        box-shadow: inset 4px 0px #ffffff;
        background: linear-gradient(rgb(255, 255, 255), rgb(104, 189, 194));
        border: 1px solid #550000;
        border-radius: 25px;
        margin: 0px 40px 0px 40px;
        opacity: 95%;
        cursor: pointer;
    }

    .upButton:hover {
        background: linear-gradient(#3dd657, #08ff1d);
        box-shadow: inset 1px 0px rgb(255, 255, 255);
    }

      .downButton:hover {
        box-shadow: inset 1px 0px rgb(255, 104, 104);
        background: linear-gradient(rgb(233, 47, 47), rgb(190, 37, 37));
    }

/* Strength Buttons */
    #upStr {
        position: fixed;
        top: 11vh;
        left: 35.7%;
        margin-right: 10px;
        margin-left: 2px;
    }

    #downStr {
        position: fixed;
        top: 11vh;
        left: 1%;
        margin-right: 2px;
        margin-left: 10px;
    }

/* Vitality Buttons */
    #upVit {
        position: fixed;
        top: 26vh;
        left: 35.7%;
        margin-right: 10px;
        margin-left: 2px;
    }

    #downVit {
        position: fixed;
        top: 26vh;
        left: 1%;
        margin-right: 2px;
        margin-left: 10px;
    }

/* Agility Buttons */
    #upAgi {
        position: fixed;
        top: 41vh;
        left: 35.7%;
        margin-right: 10px;
        margin-left: 2px;
    }

    #downAgi {
        position: fixed;
        top: 41vh;
        left: 1%;
        margin-right: 2px;
        margin-left: 10px;
    }

/* Intelligence Buttons */
    #upInt {
        position: fixed;
        top: 56vh;
        left: 35.7%;
        margin-right: 10px;
        margin-left: 2px;
    }

    #downInt {
        position: fixed;
        top: 56vh;
        left: 1%;
        margin-right: 2px;
        margin-left: 10px;
    }

/* Luck Buttons */
    #upLuk {
        position: fixed;
        top: 71vh;
        left: 35.7%;
        margin-right: 10px;
        margin-left: 2px;
    }

    #downLuk {
        position: fixed;
        top: 71vh;
        left: 1%;
        margin-right: 2px;
        margin-left: 10px;
    }
