/* CSS */

html {
    background-color: slate;
}

/* Hero Stats */
.container-stats {
    background-color: rgb(127, 224, 127);
    display: block;
    position: fixed;
    height: 75%;
    width: 25%;
    top: 10vh;
    left: 5vh;
}

    .strength {
        padding: 20px 0 20px 0;
        margin-left: 10px;
    }
        #strBar {
            border: 2px solid black;
            height: 20px;
            width: 90%; 
            margin-top: 15px;
            margin-left: 10px;
        }


    .vitality {
        padding: 20px 0 20px 0;
        margin-left: 10px;
    }
        #vitBar {
            border: 2px solid black;
            height: 20px;
            width: 90%; 
            margin-top: 15px;
            margin-left: 10px;
        }

    .agility {
        padding: 20px 0 20px 0;
        margin-left: 10px;
    }
        #agiBar {
            border: 2px solid black;
            height: 20px;
            width: 90%; 
            margin-top: 15px;
            margin-left: 10px;
        }

    .intelligence {
        padding: 20px 0 20px 0;
        margin-left: 10px;
    }
        #intBar {
            border: 2px solid black;
            height: 20px;
            width: 90%; 
            margin-top: 15px;
            margin-left: 10px;
        }

    .luck {
        padding: 20px 0 20px 0;
        margin-left: 10px;
    }
        #luckBar {
            border: 2px solid black;
            height: 20px;
            width: 90%; 
            margin-top: 15px;
            margin-left: 10px;
        }


/* Hero Classes */
.container-classes {
    background-color: lightblue;
    display: block;
    position: fixed;
    height: 50%;
    width: 25%;
    top: 30vh;
    right: 5vh;
}

    .assassin {
        padding: 20px 0 20px 0;
    }
    .knight {
        padding: 20px 0 20px 0;
    }
    .ninja {
        padding: 20px 0 20px 0;
    }
    .samurai {
        padding: 20px 0 20px 0;
    }

/* Build A Hero */
.container-hero {
    background-color: rgb(218, 141, 141);
    display: block;
    position: fixed;
    height: 75%;
    width: 30%;
    top: 10vh;
    right: 85vh;
}
    .heroHead {
        padding: 10px;
    }
    .heroBody {
        padding: 10px;
    }
    .heroLegs {
        padding: 10px;
    }
    .weapon {
        padding: 10px;
    }
